/*
Theme Name: Brama
*/


/*
RTL Basics
*/


body {
	direction:rtl;
	unicode-bidi:embed;
}

/* Text elements */
ul, ol {
	margin: 0 1.5em 18px 0;
}
blockquote {
	font-style: normal;
}

/* Text meant only for screen readers */
.screen-reader-text {
	left: auto;
	text-indent:-9000px;
	overflow:hidden;
}